<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Data</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Mars Data</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row">
      <div class="col-md-12">
        <h1 class="heading">Latest Mars News</h1>
        <h3>{{mars_data.newstitle}}</h3>
        <p>{{mars_data.newspara}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h1 class="heading">Featured Mars Image</h1>
        <br>
        <img src={{mars_data.img_url}} class="img-responsive">
      </div>
      <div class="col-md-4">
        <h3>Current Weather on Mars</h3>
        <br>
        <p>{{mars_data.tweet}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="heading">Mars Hemispheres</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <figure class="figure">
          <img src={{mars_data.hemisphere_image_url_1}} class="img-responsive" alt="1">
          <figcaption class="figure-caption"><h3>Valles Marineris Hemisphere</h3></figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="figure">
          <img src={{mars_data.hemisphere_image_url_2}} class="img-responsive" alt="1">
          <figcaption class="figure-caption"><h3>Cerberus Hemisphere</h3></figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="figure">
          <img src={{mars_data.hemisphere_image_url_3}} class="img-responsive" alt="1">
          <figcaption class="figure-caption"><h3>Schiaparelli Hemisphere</h3></figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="figure">
          <img src={{mars_data.hemisphere_image_url_4}} class="img-responsive" alt="1">
          <figcaption class="figure-caption"><h3>Syrtis Major Hemisphere</h3></figcaption>
        </figure>
      </div>
    </div>
    
  </div>
</body>

</html>

